/** Recordar que deben referenciar sus clases 
siguiendo la normativa de css: por ejm:
header [miclase]:{}
video_section [miclase] : {} **/

/* Sección de video */
.video_section {
  background-color: #0e1a2b; /* Fondo */
  padding: 60px 0;
}

.video_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.video_text {
  text-align: left;
  color: #ffffff;
  max-width: 500px;
}

.video_text h2 {
  font-size: 2rem;
  font-weight: bold;
}

.video_text p {
  font-size: 1.1rem;
  color: #d0d0d0;
}

.video_wrapper iframe {
  border-radius: 8px;
  width: 80%;
  height: 400px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}



.download-section{
  background-color: #94DDC6;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.qrs {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 2rem;
}

.qrs img {
  width: 120px;
}

.instrucciones {
  max-width: 300px;
  align-items: center;
}

.instrucciones ol {
  padding-left: 1rem;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0; 
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #94DDC6;
    width: 100%;

    .hero-images-container{ 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: row;

        .hero-image {
            max-width: 700px;
            max-height: 600px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .hero-image-2{
            padding-top: 20px;
            padding-bottom: 20px;
        } 
    }

    .hero-content-container {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .hero-title-container {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        .hero-paragraph-container {
            font-size: 1.2rem;
            line-height: normal;
            margin-bottom: 20px;
        }

        .hero-button-container {
            button{
                background-color: #162954;
                border: none;
                padding: 10px 20px;
                font-family: 'Kanit', sans-serif;
                font-size: 1.2rem;
                color: white;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #4767B0;
                }    
            }
        }
    }

}

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 20px;

        .hero-images-container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .hero-content-container {
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;

            .hero-title-container,
            .hero-paragraph-container,
            .hero-button-container {
                text-align: center;
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 20px;

        .hero-images-container {
            flex-direction: row;
            align-items: center;

            .hero-image {
                max-width: 90vw;
                max-height: 40vh;
                padding: 10px 0;
            }
        }

        .hero-content-container {
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;

            .hero-title-container,
            .hero-paragraph-container,
            .hero-button-container {
                text-align: center;
                width: 100%;
            }
        }
    }

.header-custom {
    background-color: #162964;
    color: #FFFFFF; 
}

.header-button {
    background-color: #94DDC6; 
    border-color: #4767B0;
    color: #162964;
    font-size: 24px;
    border-width: 2px;
    border-style: solid;
}

.nav-link {
    font-size: 24px;
    color: #FFFFFF;
}

.logo-text {
    font-size: 24px;
    color: #FFFFFF;
  }

footer {
    font-family: 'Kanit', sans-serif;
    padding: 16px;
    background-color: #ffffff;
    border-top: 4px solid #000000;
    font-size: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.footer-subcontainer {
    flex: 1;
    text-align: center;
}

.footer-social-icon {
    margin: 0 16px;
    text-decoration: none;
}

.footer-social-icon-img {
    width: 32px;
}
